<style>

.zone-map{
    width:100%;
}
.parcel-items,
.small-items,
.med-items,
.large-items {
    text-align: center;
    margin-bottom: 1em;
}

.parcel-items {
    border: 1px solid #ff8000;
}

.small-items {
    border: 1px solid #006adc;
}

.med-items {
    border: 1px solid #cf1097;
}

.large-items {
    border: 1px solid #76be00;
}

.parcel-items h3,
.small-items h3,
.med-items h3,
.large-items h3 {
    color: white;
    text-align: center;
    padding-top: .5em;
    padding-bottom: .6em;
    margin-top: 0;
    font-weight: bold;
}

.parcel-items h3 {
    background: #ff8000;
}

.small-items h3 {
    background: #006adc;
}

.med-items h3 {
    background: #cf1097;
}

.large-items h3 {
    background: #76be00;
}

.delivery-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    margin-bottom:10px;
}

.parcel-items span {
    color: #ff8000;
}

.small-items span {
    color: #006adc;
}

.med-items span {
    color: #cf1097;
}

.large-items span {
    color: #76be00
}

.parcel-items p {
    color: #525252;
}
/*Accordian*/

.delivery-accordion {
    width: 100%;
    background-color: #EDEDED;
    margin-bottom: 1em;
}

.delivery-accordion .delivery-accordion-head {
    color: #006d7c;
    background: #F8F8F8;
    border: 1px solid #e7e7e7;
    position: relative;
    cursor: pointer;
    padding-left: 1em;
    font-size: 1.2rem;
    overflow: hidden;
    padding-top: 12px;
    padding-bottom: 12px;
}

.delivery-accordion .delivery-accordion-head * {
    cursor: pointer;
}

.delivery-accordion .delivery-accordion-head h4 {
    float: left;
}

.delivery-accordion .delivery-accordion-head:hover {
    filter: alpha(opacity=80);
    opacity: 0.80;
}

.delivery-accordion .delivery-accordion-body {
    border-bottom: 1px solid #fff;
    padding: 20px;
    height: auto;
    display: none;
    background: #fff;
}

.arrow {
    background: url(https://betterbathrooms.com/media/wysiwyg/delivery/zone-icons.svg);
    width: 20px;
    height: 20px;
    float: right;
    background-position: 1px 17px;
    margin-right: 1em;
    margin-top: -15px;
}

.delivery-accordion-head.open .arrow {
    background: url(https://betterbathrooms.com/media/wysiwyg/delivery/zone-icons.svg);
    width: 20px;
    height: 15px;
    float: right;
    background-position: 1px 31px;
    margin-right: 1em;
}

.arrow.zone-2 {
    background-position: 66px 46px;
    width: 19px;
}

.delivery-accordion-head.open .arrow.zone-2 {
    background-position: 66px 31px;
    width: 18px;
}

.arrow.zone-3 {
    background-position: 50px 46px;
    width: 19px;
}

.delivery-accordion-head.open .arrow.zone-3 {
    background-position: 50px 31px;
    width: 18px;
}

.arrow.zone-4 {
    background-position: 34px 17px;
    width: 19px;
}

.delivery-accordion-head.open .arrow.zone-4 {
    background-position: 34px 2px;
    width: 18px;
}

.arrow.zone-5 {
    background-position: 101px 46px;
}

.delivery-accordion-head.open .arrow.zone-5 {
    background-position: 101px 31px;
    width:19px;
}

.delivery-order-half {
    width: 50%;
    display: inline-block;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.delivery-order-half strong {
    width: 100%;
    font-size: 13px;
    margin-bottom: 10px;
    display: block;
    margin-top: 10px;
}

.delivery-accordion-head h4{
    padding-bottom: 0;
}

.del-orange h4{
    color: #e19525;
}

.del-green h4{
    color: #159b48;
}

.del-purple h4{
    color: #6e3064;
}

.del-blue h4{
    color: #06c1f1;
}
.del-dark-green h4{
    color: #0c6d7b;
}

#monetate_selectorBanner_7fee3268_00{
    display: none;
}

.delivery-area{
    display: block;
    width: 80%;
    float: left;
    font-size: 10px;
    color: #525252;
    clear: both;
}

.info-block{
    padding-left: 10px;
    padding-right: 10px;
}

</style>
<div id="mobile-delivery">
    <h1 class="title page-title">Better Bathrooms Delivery Information</h1>
    <div class="free-delivery">
    </div>
    <div class="info-block">
        <p>The Better Bathrooms dedicated fleet of delivery vehicles offer a tailored service. With delivery slots available <span>7 days a week
         from <span>8am - 8pm</span>, we work hard to deliver at a time that suits your schedule.</span>
        </p>
        <h2>How Much Will My Delivery Cost?</h2>
        <p>Delivery costs vary based on item size and delivery address. Even if your order contain various item sizes, only one delivery charge will be applied.</p>
    </div>
    <div class="which-zone">
        <div class="dark-title">
            <h2 class="title">Delivery Zones / Prices</h2>
        </div>
        <img src="https://betterbathrooms.com/media/wysiwyg/delivery/zone-map.svg" alt="delivery zones" class="zone-map"/>
    </div>
    <!--Accordion-->
    <div class="delivery-accordion">
        <div class="delivery-accordion-head">
            <h4>Zone 1</h4>
            <span class="delivery-area">UK Mainland </span>
            <div class="arrow down"></div>
        </div>
        <div class="delivery-accordion-body del-dark-green">
            <div class="parcel-items">
                <h3>Parcel items</h3>
                <span class="delivery-price">&pound;3.95</span>
                <p>Plus £4.95 for Next Day Delivery*</p>
            </div>
            <div class="small-items">
                <h3>Small items</h3>
                <span class="delivery-price">&pound;7.95</span>
                <p>Plus £4.95 for Next Day Delivery*</p>
            </div>
            <div class="med-items">
                <h3>Medium items</h3>
                <span class="delivery-price">&pound;16.95</span>
                <p>Plus £4.95 for Next Day Delivery*</p>
            </div>
            <div class="large-items">
                <h3>Large items</h3>
                <div class="delivery-order-half">
                    <strong>Orders under &pound;200</strong>
                    <span class="delivery-price">&pound;19.95</span>
                    <p>£29.95 for Guaranteed Delivery* </p>
                    <p>£34.95 for Next Day Delivery* </p>
                </div>
                <div class="delivery-order-half">
                    <strong>Orders over &pound;200</strong>
                    <span class="delivery-price">&pound;29.95</span>
                    <p>£39.95 for Guaranteed Delivery* </p>
                    <p>£44.90 for Next Day Delivery* </p>
                </div>
                <br clear="all" />
            </div>
        </div>
        <!--End Zone 1-->

        <!--Begin Zone 2-->
        <div class="delivery-accordion-head del-green">
            <h4>Zone 2</h4>
            <span class="delivery-area">Northern Scotland, Scottish Highlands  </span>
            <div class="arrow down zone-2"></div>
        </div>
        <div class="delivery-accordion-body">
            <div class="parcel-items">
                <h3>Parcel items</h3>
                <span class="delivery-price">&pound;3.95</span>
                <p>Plus £4.95 for Next Day Delivery*</p>
            </div>
            <div class="small-items">
                <h3>Small items</h3>
                <span class="delivery-price">&pound;7.95</span>
                <p>Plus £4.95 for Next Day Delivery*</p>
            </div>
            <div class="med-items">
                <h3>Medium items</h3>
                <span class="delivery-price">&pound;40.95</span>
            </div>
            <div class="large-items">
                <h3>Large items</h3>
                <div class="delivery-order-half">
                    <strong>Orders under &pound;200</strong>
                    <span class="delivery-price">&pound;43.95</span>
                    <p>£58.95 for Next Day Delivery* </p>
                </div>
                <div class="delivery-order-half">
                    <strong>Orders over &pound;200</strong>
                    <span class="delivery-price">&pound;53.95</span>
                    <p>£68.90 for Next Day Delivery* </p>
                </div>
                <br clear="all" />
            </div>
        </div>
        <!--End Zone 2-->

        <!--Begin Zone 3-->
        <div class="delivery-accordion-head del-orange">
            <h4>Zone 3</h4>
            <span class="delivery-area">Isle of Man, Isle of Wight </span>
            <div class="arrow down zone-3"></div>
        </div>
            <div class="delivery-accordion-body">
                <div class="parcel-items">
                    <h3>Parcel items</h3>
                    <span class="delivery-price">&pound;13.95</span>
                </div>
                <div class="small-items">
                    <h3>Small items</h3>
                    <span class="delivery-price">&pound;17.95</span>
                </div>
                <div class="med-items">
                    <h3>Medium items</h3>
                    <span class="delivery-price">&pound;65.95</span>
                </div>
                <div class="large-items">
                    <h3>Large items</h3>
                    <div class="delivery-order-half">
                        <strong>Orders under &pound;200</strong>
                        <span class="delivery-price">&pound;65.95</span>
                    </div>
                    <div class="delivery-order-half">
                        <strong>Orders over &pound;200</strong>
                        <span class="delivery-price">&pound;75.95</span>
                    </div>
                    <br clear="all" />
                </div>
            </div>
        <!--End Zone 3-->

            <!--Begin Zone 4-->
            <div class="delivery-accordion-head del-purple">
                <h4>Zone 4</h4>
                <span class="delivery-area">ROI, Northern Ireland  </span>
                <div class="arrow down zone-4"></div>
            </div>
             <div class="delivery-accordion-body">
                <div class="parcel-items">
                    <h3>Parcel items</h3>
                    <span class="delivery-price">&pound;13.95</span>
                </div>
                <div class="small-items">
                    <h3>Small items</h3>
                    <span class="delivery-price">&pound;17.95</span>
                </div>
                <div class="med-items">
                    <h3>Medium items</h3>
                    <span class="delivery-price">&pound;80.95</span>
                </div>
                <div class="large-items">
                    <h3>Large items</h3>
                    <div class="delivery-order-half">
                        <strong>Orders under &pound;200</strong>
                        <span class="delivery-price">&pound;83.95</span>
                    </div>
                    <div class="delivery-order-half">
                        <strong>Orders over &pound;200</strong>
                        <span class="delivery-price">&pound;93.95</span>
                    </div>
                    <br clear="all" />
            </div>
        </div>
        <!--End Zone 4-->


        <!--Begin Zone 5-->
        <div class="delivery-accordion-head del-blue">
            <h4>Zone 5</h4>
            <span class="delivery-area">Channel, Orkney &amp; Shetland Islands  </span>
            <div class="arrow down zone-5"></div>
        </div>
        <div class="delivery-accordion-body">
            <div class="parcel-items">
                <h3>Parcel items</h3>
                <span class="delivery-price">&pound;23.95</span>
            </div>
            <div class="small-items">
                <h3>Small items</h3>
                <span class="delivery-price">&pound;27.95</span>
            </div>
            <div class="med-items">
                <h3>Medium items</h3>
                <span class="delivery-price">&pound;130.95</span>
            </div>
            <div class="large-items">
                <h3>Large items</h3>
                <div class="delivery-order-half">
                    <strong>Orders under &pound;200</strong>
                    <span class="delivery-price">&pound;133.95</span>
                </div>
                <div class="delivery-order-half">
                    <strong>Orders over &pound;200</strong>
                    <span class="delivery-price">&pound;143.95</span>
                </div>
                <br clear="all" />
            </div>
        </div>
        <!--End Zone 5-->
    </div>
    <!--End Accordion-->
    
    <div class="disclaimer">
        <div class="inner">
            
            <div class="right"><br/>
                <p>* Next day delivery applies to stocked items only. Excludes post codes: AB, IV, PA, PH, KW, the Republic of & Northern Ireland. Orders must be placed before 4pm for Large items and before 3pm for Small items to be eligible. For the Next Working day only and excludes Bank Holidays.</p>
            </div>
        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

<script type="text/javascript">
//Accordian
    $('.delivery-accordion').each(function () {
        var $accordian = $(this);
        $accordian.find('.delivery-accordion-head').on('click', function () {
            $(this).parent().find(".delivery-accordion-head").removeClass('open close');
            $(this).removeClass('open').addClass('close');
            $accordian.find('.delivery-accordion-body').slideUp();
            if (!$(this).next().is(':visible')) {
                $(this).removeClass('close').addClass('open');
                $(this).next().slideDown();
            }
        });
    });
</script>
