<style>
.new-selling-points h3 {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    color: #44A4B3;
    text-transform: none;
    text-align: left;
    margin-bottom: 0;
}

.new-selling-points span {
    color: #505050;
    font-family: 'Open Sans';
}

.sp-icon, .sp-icons {
    margin-top: 21px;
    float: left;
    margin-right: 1em;
}

.new-selling-points .sp-icon i {
    background-image: url(https://bb-staging.space48.com/media/wysiwyg/cms/new-selling-points/selling-points-sprite-1216r2.png);
    display: inline-block;
}

.new-selling-points .sp-icons i {
    background-image: url(https://bb-staging.space48.com/media/wysiwyg/cms/new-selling-points/savings.png);
    display: inline-block;
    background-position: -4px 0;
}

.new-selling-points .sp-delivery .sp-icon i {
    background-position: 12px -7px;
    background-repeat: no-repeat;
    height: 28px;
    margin-top: 8px;
    width: 53px;
}

.new-selling-points ul {
    margin-top: 0;
    position: relative;
    left: 3%;
}

.new-selling-points .sp-showrooms .sp-icon i {
    background-position: -34px -1px;
    background-repeat: no-repeat;
    height: 40px;
    margin-top: 6px;
    width: 53px;
}


.sp-mr{
    margin-right: 5px;
}

.new-selling-points ul li {
    width: 33%!important;
    display: inline-block;
    margin-top: -10px;
    padding: 0;
    float: left;
    margin-bottom: 10px;
}

.sp-click-and-collect .sp-icon {
    height: 30px;
    width: 30px;
    float: left;

}

.new-selling-points .sp-click-and-collect .sp-icon i {
    width: 30px;
    height: 40px;
    background-position: 30px 4px;
}

.sp-description {
    float: left;
}

.new-selling-points .sp-description span {
    font-size: 14px;
}

.new-selling-points .sp-description h3 {
    font-size: 20px;
}

.new-selling-points {
    width: 1240px;
    margin: 0 auto;
    text-align: left;
    margin-top: -10px;
}

.sp-centre{
    position: relative;
    left: 7%;
    float: left;
}

@media only screen and (max-width: 1239px) {
    .new-selling-points {
        width: 960px;
    }
    .new-selling-points .sp-description h3 {
        font-size: 16px;
    }
    .sp-description span {
        font-size: 11px!important;
    }
    .new-selling-points .sp-icon i {
        margin-top: 0px;
    }
    .sp-icon {
        margin-top: 19px;
    }
    .new-selling-points{
        margin-top: -5px;
    }
    .sp-icon {
        margin-top: 12px;
    }
}
</style>
<div class="new-selling-points">
    <ul>
        <li class="sp-delivery">
            <a href="/delivery/">
                <div class="sp-icon">
                    <i></i>
                </div>
                <div class="sp-description">
                    <h3>Fast &amp; Flexible Delivery</h3>
                    <span><strong>2 man delivery</strong> to a room of your choice**</span>
                </div>
            </a>
        </li>
        <li class="sp-showrooms">
            <a href="/showrooms/" class="sp-centre">
                <div class="sp-icon sp-mr">
                    <i></i>
                </div>
                <div class="sp-description">
                    <h3>Showrooms Nationwide</h3>
                    <span><strong>UK's largest</strong> bathroom &amp; towel retailer</span>
                </div>
            </a>
        </li>
        <li class="sp-click-and-collect">
            <a href="/click-and-collect/">
                <div class="sp-icon">
                    <i></i>
                </div>
                <div class="sp-description">
                    <h3>Best Price Guarantee</h3>
                    <span>We promise to <strong>beat all other retailers</strong></span>
                    <!--<h3>FREE Click &amp; Collect</h3>
                    <span>Order online &amp; collect in <strong>just 1 hour</strong></span>-->
                </div>
            </a>
        </li>
    </ul>
</div>
