@font-face {
  font-family: 'betterbathrooms';
  src:  url('fonts/betterbathrooms.eot?ssvple');
  src:  url('fonts/betterbathrooms.eot?ssvple#iefix') format('embedded-opentype'),
    url('fonts/betterbathrooms.ttf?ssvple') format('truetype'),
    url('fonts/betterbathrooms.woff?ssvple') format('woff'),
    url('fonts/betterbathrooms.svg?ssvple#betterbathrooms') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'betterbathrooms' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tech-support:before {
  content: "\e915";
}
.icon-track:before {
  content: "\e916";
}
.icon-tv:before {
  content: "\e917";
}
.icon-exchange:before {
  content: "\e918";
}
.icon-award-winning:before {
  content: "\e900";
}
.icon-order-online:before {
  content: "\e901";
}
.icon-perfect-match:before {
  content: "\e902";
}
.icon-price-promise:before {
  content: "\e903";
}
.icon-brand:before {
  content: "\e904";
}
.icon-catalogue:before {
  content: "\e905";
}
.icon-click-collect:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e907";
}
.icon-exclusive:before {
  content: "\e908";
}
.icon-fast-track:before {
  content: "\e909";
}
.icon-favourites:before {
  content: "\e90a";
}
.icon-finance:before {
  content: "\e90b";
}
.icon-free-delivery:before {
  content: "\e90c";
}
.icon-guarantee:before {
  content: "\e90d";
}
.icon-ip:before {
  content: "\e90e";
}
.icon-location:before {
  content: "\e90f";
}
.icon-new-in:before {
  content: "\e910";
}
.icon-parking:before {
  content: "\e911";
}
.icon-phone:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-signin:before {
  content: "\e914";
}

