<div class="global-advertising banners">
    <div class="banner alpha left col">
        <img src="{{media url='/wysiwyg/Promotion_Banners/nov-catalogue/cat-request-2.png'}}" alt="Free Catalogues From Better Bathrooms"> <a href="{{store url='request-brochure'}}" class="green-button button">Request</a>
    </div>
    
    <div class="right beta col" id="advertising-fade-right">
        <ul class="bjqs">
            <li class="banner need-tiles">
                <img src="{{media url='/wysiwyg/Promotion_Banners/reserve-banner.jpg'}}" alt="Need Bathroom Tiles?">
            </li>
            <li class="banner banner mega-store">
                <img src="{{media url='/wysiwyg/Promotion_Banners/wigan-banner.jpg'}}" alt="Classic Beige Travertine Tiles">
            </li>
        </ul>
    </div>
</div>

<script>
    jQuery(function($) {
        $('#advertising-fade-right').bjqs({
            'height' : 234,
            'width' : 450,
            'showmarkers' : false,
            'centermarkers' : false,
            'keyboardnav' : false,
            'showcontrols' : false,
            'animspeed': 4000,
            'animduration' : 450
        });
    });
</script>