<ul class="quick-links">
    <li><a href="/delivery-terms/">*Delivery Terms &amp; Conditions</a></li>
    <li><a href="/security/">Secure Shopping</a></li>
    <li><a href="/cookies/">Cookies</a></li>
    <li><a href="mailto:marketing@betterbathrooms.com">PR, Marketing & Press</a></li>
    <li><a href="/jobs/">Careers</a></li>
    <li><a href="/privacy-policy/">Privacy Policy</a></li>
    <li><a href="mailto:sales@betterbathrooms.com">Supply to Us</a></li>
    <li><a href="/terms-and-conditions/">Terms &amp; Conditions</a></li>
</ul>