<h4 class="col-title">About Better Bathrooms</h4>
<ul class="quick-links">
    <li><a href="{{store url='contact-us'}}" target="_parent">Contact Us</a></li>
    <li><a href="{{store url='about-us'}}" target="_parent">About Us</a></li>
    <li><a href="{{store url='jobs'}}" target="_parent">Careers</a></li>
    <li><a href="{{store url='customer-reviews'}}" target="_parent">Customer Reviews</a></li>
    <li><a href="{{store url='showrooms'}}" target="_parent">Showrooms</a></li>
    <li><a href="{{store url='blog}}" target="_parent">Inspirational Blog</a></li>
    <li><a href="{{store url='blog/company-news'}}" target="_parent">Company News</a></li>
    <li><a href="{{store url='tradescheme/find'}}" target="_parent">Find a Tradesman</a></li>
</ul>