<div class="awards group national-award-winning-company">
<div class="inner">
<h3 class="promo-headline">Local &amp; National <span>Award Winning</span> Company</h3>
<img src="{{media url='/wysiwyg/Promotion_Banners/business-awards-winner.png'}}" alt="Business of the Year 2012" title="Business of the Year 2012" />
</div>
</div>