<h4 class="col-title">How Can We Help?</h4>
<ul class="quick-links">
    <li><a href="{{store url='customer/account'}}" target="_parent">My Account</a></li>
    <li><a href="{{store url='contact-us'}}" target="_parent">Customer Service</a></li>
    <li><a href="{{store url='tradescheme'}}" target="_parent">Tradesman Login</a></li>
    <li><a href="{{store url='track-order'}}" " target="_parent">Track Order</a></li>
    <li><a href="{{store url='request-brochure'}}" target="_parent">Request Free Catalogue</a></li>
    <li><a href="{{store url='delivery'}}" target="_parent">Delivery Information</a></li>
    <li><a href="{{store url='returns'}}" target="_parent">Returns Policy</a></li>
</ul>
