<h4 class="col-title">Why Shop With Us?</h4>
<ul class="quick-links">
    <li><a href="{{store url='our-promise#14-day-money-back-guarantee'}}" target="_parent">14 Day Money Back Guarantee</a></li>
    <li><a href="{{store url='our-promise#365-day-exchange-policy'}}" target="_parent">365 Day Exchange Policy</a></li>
    <li><a href="{{store url='price-promise-guaranteed'}}" target="_parent">Price Promise Guaranteed</a></li>
    <li><a href="{{store url='trade-account'}}" target="_parent">Trade Loyalty Scheme</a></li>
    <li><a href="{{store url='delivery'}}" target="_parent">Flexible Delivery Options</a></li>
    <li><a href="{{store url='contact-us'}}" target="_parent">Outstanding Customer Service</a></li>
    <li><a href="{{store url='award-winning-company'}}" target="_parent">Award Winning Company</a></li>
</ul>
