<style>

.showroom-message {
    font-size: 17px;
    font-size: 1.7rem;
    height: 45px;
    text-align: center;
    background-color: #FF9326;
    color: #FFFFFF;
    line-height: 44px;
    position: relative;
    left: -25px;
    width: 1240px;
    margin-bottom: 5px;
}

.showroom-half img {
    max-width: 100%;
}

.showroom-half {
    background: white;
    width: 50%; /* 595px */
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: -4px;
    vertical-align: top;
    padding: 0px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.showroom-half.showroom-list {
    border-right: dotted 1px #DDD;
}

.showroom-half.depot-list {
    position: relative;
    left: 25px;
}

.showroom-left-col, .showroom-right-col {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: -4px;
    vertical-align: top;
}

.showroom-left-col {
    width: 44.6974%; /* 260px */
}

.showroom-right-col {
    width: 50.4201%; /* 300px */
    padding-top: 15px;
}

.showroom-half h4 {
    color: #0d6c81;
    font-weight: 600;
    font-size: 17px;
    font-size: 1.7rem;
    margin: 10px 0 12px 0;
    line-height: 25px;
}

.showroom-half h5 {
    color: #505050;
    font-weight: 600;
    font-size: 15px;
    font-size: 1.5rem;
    margin: 10px 0 0 0;
    line-height: 1;
}

.showroom-half ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
}

.showroom-half li, .showroom-half li a {
    text-align: left;
    color: #505050;
    text-shadow: none;
    padding: 0;
    height: auto;
    line-height: 2;
}

.showroom-half li a{
    display: inline;
}

.showroom-half li a:hover {
    text-decoration: underline;
}

.showroom-half .showroom-open {
    color: #78b428;
    display: inline;
}

.showroom-half p {
    line-height: 1.7;
    margin-bottom: 18px;
}

.showroom-half .showroom-hours {
    width: 100%;
    margin: 17px 0 -20px 0;
}

.showroom-half .showroom-hours .tab {
    float: right;
}

.showroom-tel {
    padding-right: 10px;
}

.showroom-note {
    font-size: 13px;    
    font-size: 1.3rem;
    color: #999;
    font-style: italic;
    top: -15px;
    position: relative;
}

.showroom-nav-play {
    margin-top: -5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 1239px) {
    .showroom-message {
        font-size: 14px;
        font-size: 1.4rem;
        width: 960px;
        left: -15px;
        margin-bottom: 5px;
    }

    .showroom-half.depot-list {
        left: 15px;
    }

    .showroom-left-col {
        width: 45.1612%; /* 210px */
    }

    .showroom-right-col {
        width: 47.3118%; /* 220px */
    }

    .showroom-half h4 {
        font-size: 14px;
        font-size: 1.4rem;
    }

    .showroom-half h5 {
        font-size: 13px;
        font-size: 1.3rem;
    }

    .showroom-note {
        font-size: 11px;    
        font-size: 1.1rem;
    }
}
</style>

<!--[if IE 8]>
<style>
    .showroom-message {
        font-size: 15px;
        font-size: 1.5rem;
        left: 0px;
        width: 100%;
    }
    .showroom-half.depot-list {
        left: 15px;
    }
    .showroom-half h4 {
        font-size: 13px;
        font-size: 1.3rem;
    }
    .showroom-half h5 {
        font-size: 12px;
        font-size: 1.2rem;
    }
    .showroom-half .showroom-hours .tab {
        text-align: right;
        width: 130px;
    }
    .showroom-hours > p {
        clear: both;
    }

</style>
<![endif]-->

<div class="drop">
    <!-- Showrooms -->
    <div class="showroom-message">
        <img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/left-quote.png?v=4" alt="">
            Did you know we have the <strong>LARGEST</strong> Bathroom Showrooms in the UK? Over <strong>3,000 products</strong> are available to view in store!
        <img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/right-quote.png?v=4" alt="">
    </div>
    <div class="showroom-half showroom-list">
        <div class="showroom-left-col">
            <h4>Showrooms</h4>
            <ul>
                <li><a href="/bathrooms-showroom-birmingham" title="Birmingham">Birmingham - <span class="showroom-open">Now Open</a></li>         
       <li><a href="/bathrooms-showroom-cardiff" title="Cardiff">Cardiff</a></li>
                <li><a href="/bathrooms-showroom-didcot" title="Didcot">Didcot</a></li>
                <li><a href="/bathrooms-showroom-edinburgh" title="Edinburgh">Edinburgh</a></li>                
<li><a href="/bathrooms-showroom-leicester" title="Leicester">Leicester</a></li>
                <li><a href="/customer-trade-counter" title="Leigh">Leigh</a></li>
                <li><a href="/bathrooms-showroom-manchester" title="Manchester">Manchester</a></li>
                <li><a href="/bathrooms-showroom-romford" title="Romford">Romford</a></li>
<li><a href="/bathrooms-showroom-sheffield" title="Sheffield">Sheffield - <span class="showroom-open">Now Open</span></a></li>
                <li><a href="/bathrooms-showroom-slough" title="Slough">Slough</a></li>
                <li><a href="/bathrooms-showroom-wigan" title="Wigan">Wigan</a></li>
                <li><a href="/bathrooms-showroom-warrington" title="Warrington">Warrington</a></li>
                <li><a href="/bathrooms-showroom-york" title="York">York</a></li>
            </ul>
        </div>
        <div class="showroom-right-col">
            <img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/showroom-nav-wigan.jpg" alt="Better Bathrooms Showroom">
            <div class="showroom-hours">
                <h5>Opening Hours <span class="tab"><img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/showroom-tel.png" alt="Telephone" class="showroom-tel">0333 777 4777</span></h5>
                <p itemscope itemtype="http://schema.org/Store">
                    <span itemprop="openingHoursSpecification">
                    Monday - Friday: <span class="tab">8am - 10pm</span><br>
                    Saturday: <span class="tab">9am - 5pm</span><br> 
                    Sunday: <span class="tab">10am - 4pm</span><br>
Open Late Bank Holidays: <span class="tab">8am - 10pm</span><br>
<!--<span style="font-weight:bold; color:#FF0000;">Easter Weekend Opening Hours:</span><br>
Good Friday: <span class="tab">8am - 10pm</span><br>
Saturday: <span class="tab">9am - 5pm</span><br> 
Easter Sunday: <span class="tab">Closed (Except Edinburgh)</span><br>
Bank Holiday Monday: <span class="tab">8am - 10pm</span><br>-->
<!--<span style="font-weight:bold; color:#FF0000;">Extended Sale Opening Hours:</span><br> Saturday 30th January<span class="tab">9am - 10pm</span> -->
<!--<h5><a href="/showrooms/">View Our Christmas Opening Times Here</a></h5>--></span>
</span>
                </p>
                <!-- <a href="//fast.wistia.net/embed/iframe/3bbs0nsy2p?popover=true" class="wistia-popover[width=900,height=383,playerColor=#006c82]">
                    <img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/nav-play-customer-video.png" alt="Experience the Better Way" class="showroom-nav-play">
                </a> -->
            </div>
        </div>
    </div>
    <!-- Depots -->
    <div class="showroom-half depot-list">
        <div class="showroom-left-col">
            <h4>Customer &amp; Trade Collection Points</h4>
            <h5><a href="/customer-trade-counter" title="North Depot">North Collection Point</a></h5>
            <p>Horizon Park<br>
            Greenfold Way<br>
            Leigh<br>
            Lancashire<br>
            WN7 3XJ</p>
            <h5><a href="/bathrooms-showroom-didcot" title="South Depot">South Collection Point</a></h5>
            <p>Purchas Rd<br>
            Didcot<br>
            Oxford<br>
            OX11 7HJ</p>
        </div>
        <div class="showroom-right-col">
        <img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/showroom-nav-load.jpg" alt="Better Bathrooms Trade Counter">
            <div class="showroom-hours">
                <h5>Opening Hours <span class="tab"><img src="http://media.betterbathrooms.com/wysiwyg/Top_Menu_Images/showroom-tel.png" alt="Telephone" class="showroom-tel">0333 777 4777</span></h5>
                <p itemscope itemtype="http://schema.org/Store">
                    <span itemprop="openingHoursSpecification">
                    Monday - Friday: <span class="tab">7am - 10pm</span><br>
                    Saturday: <span class="tab">8am - 6pm</span><br> 
                    Sunday: <span class="tab">10am - 4pm</span><br>
Open Late Bank Holidays: <span class="tab">8am - 10pm</span><br>
<!--<span style="font-weight:bold; color:#FF0000;">Easter Weekend Opening Hours:</span><br>
Good Friday: <span class="tab">7am - 10pm</span><br>
Saturday: <span class="tab">8am - 6pm</span><br> 
Easter Sunday: <span class="tab">Closed</span><br>
Bank Holiday Monday: <span class="tab">7am - 10pm</span><br>-->
<!--Open Late Bank Holidays: <span class="tab">8am - 10pm</span><br>-->
<!--<h5><a href="/showrooms/">View Our Christmas Opening Times Here</a></h5>--></span>
                </p>
                <span class="showroom-note">Last collection 30 mins before closing time</span>
            </div>
        </div>
    </div>
<!--    {{block type="cms/block" block_id="dropdown-promo-strip"}}-->




<div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>