<div class="drop">
 <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/accessories02.svg}}" alt="furniture categories" />
        <h2>ACCESSORIES</h2>
    </div>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/bathroom-accessories/">ACCESSORIES</a></dt>
<dd><a href="/lighting/">Lighting</a></dd>
<dd><a href="/bathroom-accessories/waterproof-speakers/">Splashproof Speakers</a></dd>
        <dd><a href="/bathroom-mirrors/">Bathroom Mirrors</a></dd>
        <dd><a href="/bathroom-mirrors/mirrored-cabinets/">Bathroom Cabinets</a></dd>
        <dd><a href="/bathroom-accessories/accessory-packs/">Accessory Packs</a></dd>
        <dd><a href="/bathroom-accessories/baskets/">Baskets</a></dd>
        <dd><a href="/bathroom-accessories/glass-shelves/">Glass Shelves</a></dd>
        <dd><a href="/bathroom-accessories/assisted-living-packs/">Assisted Living Packs</a></dd>
        <dd><a href="/bathroom-accessories/grab-bars/">Grab Bars</a></dd>
        <dd><a href="/showers/douche-kits/">Douche Kits</a></dd>
        <dd><a href="/bathroom-accessories/bathroom-ventilation/">Bathroom Ventilation</a></dd>  

 <a href="/bathroom-accessories/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section bd-r">
        <dd class="dd-wrap"><a href="/bathroom-accessories/soap-dispensers/">Soap Dispensers</a></dd>
        <dd><a href="/bathroom-accessories/soap-dishes/">Soap Dishes</a></dd>        
        <dd><a href="/bathroom-accessories/tumblers-and-holders/">Tumblers &amp; Holders</a></dd>
        <dd><a href="/bathroom-accessories/toilet-brushes/">Toilet Brushes</a></dd>
        <dd><a href="/bathroom-accessories/toilet-paper-holders/">Toilet Paper Holders</a></dd>
        <dd><a href="/bathroom-accessories/towel-rails/">Towel Rails</a></dd>
        <dd><a href="/bathroom-accessories/towel-rings/">Towel Rings</a></dd>
        <dd><a href="/bathroom-accessories/robe-hooks/">Robe Hooks</a></dd>
        <dd><a href="/bathroom-accessories/bathroom-accessory-ranges/">Accessory Ranges</a></dd>
        <dd><a href="/mcalpine-traps-fittings/">McAlpine Traps &amp; Fittings</a></dd>
    </dl>
    <dl class="col-section bd-r">
   
    </dl>
    <dl class="col-section bd-r">
   
    </dl>
    <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/cromo-one-shelf-rectangular-basket/">
            <span class="bathroom-categories-02 accessories-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Cromo One Shelf Rectangular Basket</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;46.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
        <a href="/veneto-bathroom-accessories-pack-1/">
            <span class="bathroom-categories-02 accessories-sp-02"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Veneto Bathroom Accessory Pack</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;35.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
           
    </dl>
    <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>
