<div class="drop">
    <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/showers02.svg}}" alt="furniture categories" />
        <h2>SHOWERS</h2>
    </div>
    <dl class="col-section bd-r">
        <dt class="col-title" href="/shower-enclosures/">SHOWER ENCLOSURES</dt>
        <dd><a href="/shower-enclosures/sliding-shower-enclosures/">Sliding Enclosures</a></dd>
        <dd><a href="/shower-enclosures/quadrant-shower-enclosures/">Quadrant Enclosures</a></dd>
        <dd><a href="/shower-enclosures/walk-in-showers/">Walk In Showers</a></dd>
        <dd><a href="/shower-enclosures/hinged-shower-enclosures/">Hinged Enclosures</a></dd>
        <dd><a href="/shower-enclosures/bi-fold-shower-enclosures/">Bi-Fold Enclosures</a></dd>
        <dd><a href="/shower-enclosures/shower-screens//">Shower Screens</a></dd>
        <dd><a href="/showers-enclosures/shower-doors/">Shower Doors</a></dd>
        <dd><a href="/shower-enclosures/shower-cabins/">Shower Cabins</a></dd>
        <dd><a href="/shower-enclosures/wet-rooms/">Wet Rooms</a></dd>


        <a href="/showers/" class="dropnav-btn">View All &nbsp; ></a>
        
    </dl>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/shower-accessories/">SHOWER ACCESSORIES</a></dt>
        <dd><a href="/bathroom-accessories/waterproof-speakers/">Splashpoof Speakers</a></dd>        
        <dd><a href="/showers/shower-handsets/">Shower Handsets</a></dd>
        <dd><a href="/showers/bath-screens/">Bath Screens</a></dd>
        <dd><a href="/showers/shower-curtain-rails-1/">Shower Curtain Rails</a></dd>
        <dd><a href="/showers/shower-trays/">Shower Trays</a></dd>
        <dd><a href="/showers/shower-trays/shower-wastes/">Shower Wastes</a></dd>
        
    </dl>
    <dl class="col-section  bd-r">
        
        
    </dl>
    <dl class="col-section  bd-r">
   
    </dl>
    <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/montroc-thermostatic-rigid-riser-rail-kit/">
            <span class="bathroom-categories-01 showers-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Vira Riser Slide Shower Rail Kit with Dual Valve</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;119.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
        <a href="/vira-round-thermostatic-shower-set/">
            <span class="bathroom-categories-01 showers-sp-02"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Montroc Premium Rigid Riser Shower Rail Kit with Dual Valve</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;526.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>       
    </dl>
    <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>
