<div class="drop">
    <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/baths02.svg}}" alt="baths dropdown" />
        <h2>BATHS</h2>
    </div>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/baths/">BATHS</a></dt>
        <dd><a href="/baths/straight-baths/">Straight Baths</a></dd>
        <dd><a href="/baths/roll-top-baths/">Freestanding Baths</a></dd>
        <dd><a href="/baths/corner-baths/">Corner Baths</a></dd>
        <dd><a href="/baths/steel-baths/">Steel Baths</a></dd>
        <dd><a href="/baths/betacast-baths/">Betacast Baths</a></dd>
        <dd><a href="/baths/bath-panels/">Bath Panels</a></dd>
        <dd><a href="/baths/bath-shower-screens/">Bath Screens</a></dd>
        <dd><a href="/baths/round-baths/">Round Baths</a></dd>
        <dd><a href="/baths/walk-in-baths/">Walk In Baths</a></dd>
        <dd><a href="/baths/small-baths/">Small Baths</a></dd>
        <dd><a href="/baths/luxury-baths/">Large Luxury Baths</a></dd>
        <a href="/baths/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section  bd-r">
        <dt><a class="col-title" href="/baths/shower-baths/">SHOWER BATHS</a></dt>
        <dd><a href="/baths/shower-baths/l-shaped-shower-baths/">L Shaped Baths</a></dd>
        <dd><a href="/baths/shower-baths/p-shaped-shower-baths/">P Shaped Baths</a></dd>
        <dd><a href="/baths/shower-baths/straight-shower-baths/">Straight Shower Baths</a></dd>
        <dd><a href="/baths/whirlpool-baths/whirlpool-shower-baths/">Whirlpool Shower Baths</a></dd>
        <dd><a href="/baths/shower-baths/space-saver-shower-baths/">Space Saver Baths</a></dd>
        <dd><a href="/baths/shower-baths/corner-shower-baths/">Corner Shower Baths</a></dd>
        <a href="/baths/shower-baths/" class="dropnav-btn">View All &nbsp; ></a>
        <dt><a class="col-title" href="/baths/roll-top-baths/">FREESTANDING BATHS</a></dt>
        <dd><a href="/baths/roll-top-baths/">Double Ended Baths</a></dd>
        <dd><a href="/baths/roll-top-baths/">Slipper Baths</a></dd>
        <a href="/baths/roll-top-baths/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section  bd-r">
        <dt><a class="col-title" href="/baths/whirlpool-baths/">WHIRLPOOL BATHS</a></dt>
        <dd><a href="/baths/straight-whirlpool-baths/">Straight Whirlpool Baths</a></dd>
        <dd><a href="/baths/corner-whirlpool-baths/">Corner Whirlpool Baths</a></dd>
        <dd><a href="/baths/whirlpool-baths/whirlpool-shower-baths/">Shower Whirlpool Baths</a></dd>
        <dd><a href="/baths/small-whirlpool-baths/">Small Whirlpool Baths</a></dd>
        <dd><a href="/baths/large-whirlpool-baths/">Large Whirlpool Baths</a></dd>
        <a href="/baths/shower-baths/" class="dropnav-btn">View All &nbsp; ></a><br/><br/>
        <dt class="col-title">ACCESSORIES</dt>
        <dd><a href="/taps/tap-wastes/">Bath Wastes</a></dd>
        <dd><a href="/mcalpine-traps-fittings/">McAlpine Traps &amp; Fittings</a></dd>
        <a href="/taps/tap-wastes/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section  bd-r">
        <dt class="col-title">SHOP BY SIZE</dt>
        <dd><a href="#">1500mm Baths</a></dd>
        <dd><a href="#">1600mm Baths</a></dd>
        <dd><a href="#">1700mm Baths</a></dd>
        <dd><a href="#">1800mm Baths</a></dd>
        </dl>
    <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/stansbury-compact-acrylic-shower-bath-right-hand/">
            <span class="bathroom-categories baths-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Stansbury Compact Acrylic Shower Bath Left Hand</span>
             <span class="clear"></span>
            <span class="dropnav-price">&pound;225.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
    </dl>
    <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>