<div class="drop">
 <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/towel-rail02.svg}}" alt="furniture categories" />
        <h2>TOWEL RAILS</h2>
    </div>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/heated-towel-rails/">TOWEL RAILS</a></dt>
        <dd><a href="/heated-towel-rails/heated-chrome-towel-rails/">Chrome Towel Rails</a></dd>
        <dd><a href="/heated-towel-rails/heated-white-towel-rails/">White Towel Rails</a></dd>
        <dd><a href="/heated-towel-rails/square-heated-towel-rails/">Square Towel Rails</a></dd>
        <dd><a href="/heated-towel-rails/designer-towel-rails/">Designer Towel Rails</a></dd>
        <dd><a href="/heated-towel-rails/electric-towel-rails/">Electric Towel Rails</a></dd>
        <dd><a href="/heated-towel-rails/special-offer-towel-rails/">Special Offer Towel Rails</a></dd>     

        <a href="/heated-towel-rails/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/heated-towel-rails/">RADIATORS</a></dt>
        <dd><a href="/heated-towel-rails/modern-traditional-radiators/">Floor Standing Radiators</a></dd>
        <dd><a href="/heated-towel-rails/colosseum-radiators/">Colosseum Radiators</a></dd>
        <dd><a href="/heated-towel-rails/designer-radiators/">Designer Radiators</a></dd>
        <dd><a href="/heated-towel-rails/stainless-steel-radiators/">Stainless Steel Radiators</a></dd>
        <dd><a href="/heated-towel-rails/towel-rail-accessories/">Radiator Valves</a></dd>

        <a href="/heated-towel-rails/" class="dropnav-btn">View all &nbsp; ></a>
    </dl>
      <dl class="col-section bd-r"></dl>
      <dl class="col-section bd-r"></dl>
     <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/regent-beta-heat-traditional-radiator/">
            <span class="bathroom-categories-02 rails-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Regent Beta Heat Traditional Radiator</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;152.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
        <a href="/heated-towel-rails/heated-chrome-towel-rails/lorenzo-beta-heat-1600-x-600-heated-towel-rail/">
            <span class="bathroom-categories-02 rails-sp-02"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Lorenzo Beta Heat 1600 x 600mm Flat Chrome Heated Towel Rail</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;291.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>           
    </dl>
   <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>