<div class="drop">
    <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/tiles02.svg}}" alt="furniture categories" />
        <h2>TILES</h2>
    </div>
    <dl class="col-section bd-r">
       <dt><a class="col-title" href="/bathroom-tiles/wall-tiles/">WALL TILES</a></dt>
        <dd><a href="/bathroom-tiles/ceramic-wall-tiles/">Ceramic Wall Tiles</a></dd>
        <dd><a href="/bathroom-tiles/travertine-bathroom-tiles/">Travertine Tiles</a></dd>
        <dd><a href="/bathroom-tiles/porcelain-tiles/">Porcelain Tiles</a></dd>
        <dd><a href="/bathroom-tiles/natural-stone-tiles/">Natural Stone Tiles</a></dd>
        <dd><a href="/bathroom-tiles/mosaic-tiles/">Mosaic Tiles</a></dd>
        <dd><a href="/bathroom-tiles/border-tiles/">Border Tiles</a></dd>
        <a href="/bathroom-tiles/wall-tiles/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/bathroom-tiles/bathroom-floor-tiles/">FLOOR TILES</a></dt>
        <dd><a href="/bathroom-tiles/ceramic-floor-tiles/">Ceramic Floor Tiles</a></dd>
        <dd><a href="/bathroom-tiles/travertine-bathroom-tiles/">Travertine Tiles</a></dd>
        <dd><a href="/bathroom-tiles/porcelain-tiles/">Porcelain Tiles</a></dd>
        <dd><a href="/bathroom-tiles/natural-stone-tiles/">Natural Stone Tiles</a></dd>
        <a href="/bathroom-tiles/bathroom-floor-tiles/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section  bd-r">
        <dt><a class="col-title" href="/bathroom-tiles/tiling-tools-and-accessories/">TOOLS &amp; ACCESSORIES</a></dt>
        <dd><a href="/bathroom-tiles/adhesives-grouts-and-bonding-agents/">BAL Adhesive, Grout &amp; Bonding</a></dd>
        <dd><a href="/bathroom-tiles/tiling-tools-and-accessories/">Tiling Tools, Accessories &amp; Trims</a></dd>
        <dd><a href="/bathroom-tiles/adhesives-grouts-and-bonding-agents/">Stone Care Products</a></dd>
        <dd><a href="/bathroom-tiles/underfloor-heating/">Underfloor Heating</a></dd>
        <a href="/bathroom-tiles/tiling-tools-and-accessories/" class="dropnav-btn">View All &nbsp; ></a>
    </dl>
    <dl class="col-section bd-r">
   
    </dl>
    <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/classic-beige-square-travertine/">
            <span class="bathroom-categories-03 tiles-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Classic Beige Square Travertine</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;2.64 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
           
    </dl>
    <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>