<div class="drop">
    <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/taps02.svg}}" alt="furniture categories" />
        <h2>TAPS</h2>
    </div>
    <dl class="col-section bd-r">
        <dt><a class="col-title" href="/taps/modern-bathroom-taps/">MODERN TAPS</a></dt>
        <dd><a href="/taps/basin-taps/">Basin Taps</a></dd>
        <dd><a href="/taps/bath-taps/">Bath Taps</a></dd>
        <dd><a href="/bathroom-taps/tap-packs">Tap Packs</a></dd>
        <dd><a href="/taps/cloakroom-taps/">Cloakroom Taps</a></dd>
        <dd><a href="/taps/extended-basin-taps/">Extended Basin Taps</a></dd>
        <dd><a href="/taps/freestanding-taps/">Freestanding Taps</a></dd>
        <dd><a href="/taps/kitchen-taps/">Kitchen Taps</a></dd>
        <dd><a href="/taps/thermostatic-bath-taps/">Thermostatic Taps</a></dd>
        <dd><a href="/taps/wall-mounted-taps/">Wall Mounted Taps</a></dd>
        <dd><a href="/taps/waterfall-bathroom-taps/">Waterfall Taps</a></dd>
        <dd><a class="special-offer" href="/taps/special-offer-taps/">Special Offer Taps</a></dd>

        <a href="/bathroom-furniture/" class="dropnav-btn">View All &nbsp; ></a>
        
    </dl>
    <dl class="col-section bd-r">
       <dt><a class="col-title" href="/taps/traditional-bathroom-taps/">TRADITIONAL TAPS</a></dt>
        <dd><a href="/taps/traditional-bathroom-taps/">Traditional Basin Taps</a></dd>
        <dd><a href="/taps/traditional-bathroom-taps/">Traditional Bath Taps</a></dd>

        <a href="/bathroom-furniture/" class="dropnav-btn">View all &nbsp; ></a>      
    </dl>
    <dl class="col-section  bd-r">
        <dt><a class="col-title" href="/taps/tap-wastes/">WASTES</a></dt>
        <dd><a href="/taps/tap-wastes/">Basin Wastes</a></dd>
        <dd><a href="/taps/tap-wastes/">Bath Wastes</a></dd>
        <dd><a href="/taps/bottle-traps/">Bottle Traps</a></dd>
        <dd><a href="/taps/overflow-bath-fillers/">Overflow Bath Fillers</a></dd>
        <dd><a href="/taps/water-flow-regulator-valves/">Waterflow Regulators</a></dd>

       <a class="dropnav-btn" href="/taps/tap-wastes/">View all &nbsp; ></raw></a>
    </dl>
    <dl class="col-section bd-r">
   
    </dl>
    <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/s9-freestanding-bath-shower-mixer/">
            <span class="bathroom-categories-01 taps-sp-02"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">S9 Freestanding Bath Shower Mixer</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;145.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
        <a href="/quadra-waterfall-basin-mixer-tap/">
            <span class="bathroom-categories-01 taps-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Quadra&trade; Waterfall Basin Mixer Tap</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;32.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
           
    </dl>
    <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>
