<div class="drop">
    <div class="dropdown-header">
        <img src="{{media url='wysiwyg/Top_Menu_Images/furniture02.svg}}" alt="furniture categories" />
        <h2>FURNITURE</h2>
    </div>
    <dl class="col-section bd-r">
        <dt class="col-title">FURNITURE</dt>
        <dt><a class="col-title" href="/bathroom-furniture/">Furniture</a></dt>
        <dd><a href="/vanity-units/">Basin Vanity Units</a></dd>
        <dd><a href="/bathroom-furniture/vanity-units/cloakroom-vanity-units/">Cloakroom Vanity Units</a></dd>
        <dd><a href="/bathroom-furniture/wall-hung-vanity-units/">Wall Hung Basin Units</a></dd>
        <dd><a href="/bathroom-furniture/wall-hung-vanity-shelves/">Wall Hung Vanity Shelves</a></dd>
        <dd><a href="/bathroom-furniture/wc-units/">Toilet WC Units</a></dd>
        <dd><a href="/bathroom-furniture/fitted-bathroom-furniture/">Fitted Bathroom Furniture</a></dd>
        
        <a href="/bathroom-furniture/" class="dropnav-btn">View All &nbsp; ></a>
        
    </dl>
    <dl class="col-section bd-r">
        <dt class="col-title">STORAGE</dt>
       <dd><a href="/bathroom-furniture/basin-and-wc-combination-units/">Combination Basin &amp; Toilet Units</a></dd>
        
    </dl>
    <dl class="col-section  bd-r">
        <dt class="col-title">RANGES</dt>
        <dd><a href="/bathroom-suites/wash-basins/contemporary-basins/">Contemporary Basins</a></dd>
        <dd><a href="/bathroom-suites/wash-basins/stone-basins/">Stone Basins</a></dd>
        
    </dl>
    <dl class="col-section  bd-r">
    <dt class="col-title">OTHER</dt>
    <dd><a href="/bathroom-suites/wash-basins/wall-mounted-basins/">Wall Mounted Basins</a></dd>
        
    </dl>
    <dl class="col-section">
        <dt class="col-title">BEST SELLERS</dt>
        <a href="/ravenna-basin-and-pedestal/">
            <span class="bathroom-categories-01 furniture-sp-01"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Windsor™ 75 White Combination Unit</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;335.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
        <a href="/bathroom-furniture/basin-and-wc-combination-units/cuba-combination-units/cuba-left-hand-combination-unit/">
            <span class="bathroom-categories-01 furniture-sp-02"></span>
            <span class="clear"></span>
            <span class="dropnav-product-title">Cuba Left Hand Combination Unit</span>
            <span class="clear"></span>
            <span class="dropnav-price">&pound;391.95 <span class="dropnav-vat">inc. VAT</span></span>
        </a>
           
    </dl>
    <div class="clear"></div>
    <div class="fullwidth">
        <a href="/up-to-70-off/" class="monthly-sale"><strong>NOVEMBER SALE</strong> - UP TO 70% OFF ></a>
        <a href="/up-to-70-off/" class="clearance-sale"><strong>CLEARANCE OFFERS</strong> - UP TO 70% OFF ></a>
        <div class="clear"></div>
        <div class="four-cols">
            <img src="{{media url='wysiwyg/better-lights/price-promise.svg}}" alt="we wont be beaten on price" />
            <h3>price promise</h3>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/guarantee.svg}}" alt="up to 25 years guarantee" />
                <h3>up to 25 years<br/> guarantee</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols pl-two">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/finance.svg}}" alt="pay on finance" />
                <h3>pay on finance</h3>
            </div>
        </div>
        <div class="bdr-s"></div>
        <div class="four-cols">
            <div class="mr-2">
                <img src="{{media url='wysiwyg/better-lights/award.svg}}" alt="award winning" />
                <h3>award winning</h3>
            </div>
        </div>
    </div>
</div>
